/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6d8d5;
    color: #6d3b47;
}

/* Sticky Navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: #9e7c87;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 1.5em;
}


.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #9e7c87;
}
  
.content {
    min-height: 200vh; 
    border: 1px solid #9e7c87;
}

.navbar a:hover {
    color: #e5b4c2;
}

.navbar ul li {
    position: relative; 
}

.navbar ul li:before {
    content: "";
    position: absolute;
    inset: auto 0 -2px 0; 
    height: 3px; 
    background: rgb(255, 255, 255);
    scale: 0 1;
    transition: 0.3s, translate 0s 0.3s;
}

.navbar ul li:hover:before {
    scale: 1;
}


@media (max-width: 768px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
    }

    .navbar li {
        margin: 0.5em 0;
    }
}

/* Navbar Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: relative;
}

.socials-content {
    display: none;
    position: absolute;
    background-color: #9e7c87;
    min-width: 160px;
    top: 100%; 
    left: 0;
    z-index: 1;
    border-radius: 5px;
}

.socials-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.socials-content a:hover {
    background-color: #AB6885;
}



/* Profile Header */
.profile-header {
    background: url('flwr.jpg') no-repeat center center / cover;
    padding: 3em 0;
    text-align: center;
}

.profile-info {
    background-color: rgba(231, 219, 219, 0.8);
    display: inline-block;
    padding: 2em;
    border-radius: 15px;
}

.profile-header .logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.profile-header h1 {
    font-size: 2.5em;
    margin: 0.5em 0;
    color: #6d3b47;
}

.profile-header p {
    font-size: 1.2em;
    color: #6d3b47;
}

/* Main Content */
.content {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

/* Movie Review */

.review-post {
    background-color: #ffffff;
    padding: 2em;
    margin-bottom: 1em;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-review {
    flex: 2;
    margin-right: 1em;
}

.movie-review h2 {
    text-align: center;
    color: #6d3b47;
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.review-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1em;
}

.review-meta {
    color: #6d3b47;
}

.review-author {
    font-weight: bold;
    margin: 0;
}

.review-date {
    font-size: 0.9em;
    margin: 0;
}

.review-rating {
    font-size: 0.9em;
    margin: 0;
    font-weight: bold;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.review-post img.review-image {
    width: 30%;
    height: 30%;
    margin: 1em 0;
}

.read-more-container {
    text-align: left;
    margin-top: 1em;
}

.read-more {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #9e7c87;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

/* Sidebar */
.sidebar {
    flex: 1;
}

/* About Me */
.about-me {
    padding: 2em;
    background-color: #e5b4c2;
    text-align: center;
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.about-me h2 {
    color: #6d3b47;
}

.about-avatar {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1em;
}

.about-me p {
    color: #6d3b47;
}

/* Watchlist */
.watchlist {
    padding: 2em;
    background-color: #f3c1c1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.watchlist h2 {
    color: #6d3b47;
}

.watchlist ul {
    list-style: none;
    padding: 0;
}

.watchlist li {
    background-color: #ffffff;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #9e7c87;
    color: #ffffff;
}

/*audio*/
.mp3 {
    position: fixed; 
    bottom: 0; 
    right: 0; 
    z-index: 1000; 
}

.mp3-container {
    width: 300px; 
    padding: 10px;
    background-color: #9e7c87; 
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    text-align: center;
}

.mp3 p {
    margin: 0; 
    font-size: 1.2em; 
    color: #ffffff; 
    padding: 5px;
}

.mp3 audio {
    width: 100%; 
}


/*Transitions*/

.profile-header {
    animation: transitionIn 0.75s;
}

.mp3{
    animation: transitionIn 0.75s;
}

.content{
    animation: transitionIn 0.75s;
}

.sidebar{
    animation: transitionIn 0.75s;
}


@keyframes transitionIn {
    from {
       opacity: 0;
       transform: rotateX('-10deg');

    }

    to {
        opacity: 1;
        transform: rotateX('0'); 

    }
}

